* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

.container-fluid {
  padding: 0; }

.footer {
  background-color: #020c13;
  margin: 0; }
  .footer ul {
    text-align: center;
    padding: 5px;
    margin: 0; }
    .footer ul li {
      display: inline-block;
      padding-left: 20px; }
      .footer ul li a {
        color: #f2f2f2; }

.header {
  margin: 0 auto; }
  .header img {
    height: 6vh; }
  .header .navbar {
    margin-bottom: 60px; }

.bg-nav {
  background-color: #ffc30d; }

.imagen1 {
  background-image: url(../img/fullsize/bg-image-1.jpg);
  width: 100%;
  height: 450px;
  max-height: 450px;
  background-position: center center;
  overflow: hidden;
  transition-duration: 5s;
  background-size: cover; }
  .imagen1 .imagen2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fullsize/bg-image-2.jpg);
    overflow: hidden;
    height: 450px;
    max-height: 450px;
    width: 50%;
    transition-duration: 1s;
    position: relative; }
    .imagen1 .imagen2:hover {
      width: 98%;
      transform: scale(1.05); }
    .imagen1 .imagen2:before {
      content: "\2194";
      color: white;
      font-size: 25px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(22, 240, 240, 0.562);
      height: 100%;
      line-height: 360px;
      padding-right: 10px;
      padding-left: 10px; }

.slider {
  margin-top: 65px; }

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 20px; }

@media (max-width: 768px) {
  .imagen1 {
    display: none; } }

.container {
  margin: auto; }

@media (max-width: 950px) {
  .gridNosotros {
    padding: 50px 10px 30px 10px; } }

@media (max-width: 950px) {
  .row {
    padding: 0 10px 0 10px; } }

.mapa {
  padding: 80px 20px 80px 20px; }
  .mapa .mapaContacto {
    text-align: center;
    margin-top: 20px; }
  .mapa ul {
    list-style: none;
    color: #0d0d0d; }
    .mapa ul a {
      color: #0d0d0d; }

@media (max-width: 950px) {
  .mapa {
    padding: 70px 10px 30px 10px; } }

.gridNosotros {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  padding: 80px 10px;
  grid-template-areas: "gridNosotrosParrafo gridNosotrosVideo";
  background-image: linear-gradient(#14f0f0, rgba(15, 112, 240, 0.9)); }
  .gridNosotros .gridNosotrosParrafo {
    grid-area: gridNosotrosParrafo;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.596);
    padding: 30px; }
    .gridNosotros .gridNosotrosParrafo .subtituloH2 {
      font-size: 32px; }
  .gridNosotros .gridNosotrosVideoWrapper {
    width: 80%;
    margin: 0 auto; }
    .gridNosotros .gridNosotrosVideoWrapper .gridNosotrosVideo {
      grid-area: gridNosotrosVideo;
      margin: 0 auto;
      height: 0;
      padding-bottom: 56.25%;
      position: relative; }
      .gridNosotros .gridNosotrosVideoWrapper .gridNosotrosVideo iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; }

@media (max-width: 950px) {
  .gridNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    padding: 0;
    height: 1200px;
    grid-template-areas: "gridNosotrosParrafo gridNosotrosParrafo" "gridNosotrosVideo gridNosotrosVideo"; }
    .gridNosotros .gridNosotrosVideo {
      grid-area: gridNosotrosVideo;
      width: 100%;
      margin: 0 auto; }
    .gridNosotros .gridNosotrosParrafo {
      grid-area: gridNosotrosParrafo;
      margin-bottom: 10px; } }

@media (max-width: 950px) {
  .gridNosotros {
    padding: 80px 10px 30px 10px; } }

.servicios {
  padding: 80px 30px 50px 30px; }
  .servicios .parrafoServicios {
    margin: 30px 0 30px 0; }

@media (max-width: 950px) {
  .servicios {
    padding: 80px 10px 30px 10px; }
    .servicios .parrafoServicios {
      margin: 10px; }
  .container {
    padding: 20px 20px 20px 20px; } }

.tituloH1 {
  color: #ffff;
  text-align: right;
  margin: 80px 80px 10px;
  font-size: 4rem;
  font-weight: 500; }

.subtituloH2Slider {
  color: #ffc30d;
  margin: 0 80px;
  font-weight: 400;
  text-align: center; }

.subtituloH2 {
  font-size: 2rem;
  color: #0d0d0d;
  margin: 0 80px;
  font-weight: 400;
  text-align: center; }

.subtituloOscuro {
  color: #0d0d0d; }

.parrafo {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: justify;
  padding: 10px;
  color: #8c8c8b; }

.parrafoResaltado-1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: justify;
  padding: 10px;
  color: #0d0d0d; }

.parrafoResaltado {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: justify;
  padding: 10px;
  color: #8c8c8b; }

strong {
  font-weight: 600;
  color: #404040; }

.card-title {
  font-weight: 400;
  text-decoration: underline;
  color: #0d0d0d; }

.parrafoClaro {
  color: #f2f2f2;
  text-align: center; }

.formulario {
  padding: 80px 80px 80px 80px;
  background-image: linear-gradient(rgba(20, 240, 240, 0.561), rgba(0, 0, 0, 0.863)), url(../img/fullsize/bg-formulario.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%; }
  .formulario h3 {
    color: #f2f2f2; }
  .formulario label {
    color: #f2f2f2; }
  .formulario .btn-light {
    background-color: #0d0d0d;
    color: #f2f2f2;
    width: 150px; }

@media (max-width: 950px) {
  .formulario {
    padding: 80px 20px 30px 20px; } }

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease; }

.snip1585 {
  background-color: #f2f2f2;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }
  .snip1585:before, .snip1585:after {
    background-color: #ffc30d7a;
    border-top: 30px solid #ffc30d;
    border-bottom: 30px solid #ffc30d;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0; }
  .snip1585:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2); }
  .snip1585:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2); }
  .snip1585 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden; }
    .snip1585 img:hover {
      opacity: 0.7; }
  .snip1585 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .snip1585 figcaption:hover {
      opacity: 1;
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s; }
  .snip1585 h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase; }
    .snip1585 h3 span {
      display: block;
      font-weight: 700; }

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.card-1 {
  background-color: #caf0f8; }

.card-2 {
  background-color: #ade8f4; }

.card-3 {
  background-color: #caf0f8; }

.card-4 {
  background-color: #caf0f8; }

.card-5 {
  background-color: #90e0ef; }

.card-6 {
  background-color: #00b4d8; }

.bg-1 {
  background-color: #05F2F2; }

.bg-2 {
  background-color: #f72585; }

.bg-3 {
  background-color: #162C40; }

.bg-4 {
  background-color: #4cc9f0; }

.bg-5 {
  background-color: #16f0f08f; }

.bg-6 {
  background-color: white; }
