// Efecto Imagenes header de media query
@media (max-width: 768px) {
  .imagen1 {
    display: none;
  }
}

.container{
  margin: auto;
}

@media (max-width: 950px) {
  .gridNosotros {
    padding: 50px 10px 30px 10px;
  }
}
